.u-section-1 {
  background-image: url("images/pexels-photo-5990678.jpeg");
  background-position: 50% 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 702px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1017px;
  margin: 80px auto -10px;
}

.u-section-1 .u-image-1 {
  min-height: 542px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/70930209_180272956344998_3838365053564747776_o.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 19px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 542px;
}

.u-section-1 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-1 .u-text-1 {
  margin: 21px 226px 0;
}

.u-section-1 .u-text-2 {
  margin: 8px 52px 0;
}

.u-section-1 .u-form-1 {
  margin: 8px 0 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 80px;
  }

  .u-section-1 .u-image-1 {
    min-height: 501px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 202px;
    margin-right: 202px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 384px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 134px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 888px;
  }

  .u-section-1 .u-image-1 {
    min-height: 751px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-1 .u-image-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 34px;
    margin-right: 34px;
  }
}